* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #8e44ad 0%, #3498db 100%);
    color: white;
    line-height: 1.6;
    background-size: 400% 400%;

    animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid white;
}

.icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    cursor: pointer;
}

#messageVer {
    font-weight: bold;
    color: red;
}

.container {
    padding: 20px;
}

h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    transition: all 0.3s;
}

.btn-primary {
    background-color: #4b61bd;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #6b7dce;
}

.btn-secondary {
    background-color: #bd4b4b;
    color: white;
    border: none;
}

.btn-secondary:hover {
    background-color: #d16c6c;
}

iframe {
    width: 100%;
    height: 400px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    margin-top: 20px;
    border-top: 2px solid #4b61bd;
    font-size: 14px;
}
li{
    list-style: none;
}
header a{
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: gray;
}
button{
    

}